.toast{
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-self: center;
    background: lightcyan;


}
.con{
    width: 80%;
    margin: 0 auto;
    height: 200px;
    background:lightblue;
    display: flex;
   flex-direction: row;
   justify-content: space-around;
}
button{
    text-decoration: none;
    border: none;
    padding: 8px;
    border-radius: 6px;
    background: lightcoral;
    color: white;
    font-family: serif;
    text-align: center;
    font-size: 1.3rem;
    cursor: pointer;
}