.rpg {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(155deg,white,black);
    overflow-x: hidden;
}

.rpg-con {
    width: 70%;

}

.con-text {
    float: left;
}

.heading {
    font-size: 2.5rem;
    color: rgb(10, 10, 10);
    font-weight: bolder;
    font-family: serif;

}

.heading-2 {
    font-size: 2.5rem;
    color: green;
    border-bottom: 3px solid green;
    width: 310px;

}





.input {
    width: 440px;
    height: 70px;
    padding: 12px 0px;
    margin: 20px 0;

}


.input input {
    width: 100%;
    height: 100%;
    background: lightgrey;
    font-size: 1.4rem;
    color: gray;
    font-family: sans-serif;
    border: none;
    outline: none;
    padding: 2px 8px;

}



.btn {
    width: 160px;
    height: 45px;
    padding: 9px 0;
    text-align: center;
    color: white;
    background: green;
    font-size: 1.5rem;
    font-family: serif;
    color: white;
}

.btn:hover {
    background: rgba(1, 133, 1, 0.918);
    cursor: pointer;
    color: black;
}