.paragen{
    width: 80%;
    min-height: calc(100vh - 60px);
    max-height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.heading {
    font-size: 3.4rem;
    font-family: sans-serif;
    color: darkblue;
    padding: 8px;
    text-align: center;
}

.pa {
    width: 300px;
    height: 45px;
    display: inline-block;
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 6px;

}

.pa label {
    font-size: 24px;
    color: black;


}

.pa input {
    outline: none;
    border: none;
    width: 60px;
    height: 25px;
    border: 1px solid lightgray;
    position: relative;
    margin-top: 3px;
    font-size: 1.2rem;
    font-family: sans-serif;
    color: blue;
}

.pa button {
    background-color: cornflowerblue;
    font-size: 1.4rem;
    padding: 3px;
    color: rgb(145, 255, 0);
    border: none;
    border-radius: 5px;
}

.pa button:hover {
    background: rgb(10, 176, 231);
    cursor: pointer;
}

.con-text {
    background: rgba(82, 81, 81, 0.959);
    width: 100%;
    height: auto;
    padding: 12px;
}
.con-text p{
    color: white;
    font-size: 1rem;
    font-family: sans-serif;
    display: block;
}






@media (min-width:300px) and (max-width: 600px) {
    html{
        font-size:9px;

    }
   
}