.age{
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: lightcoral;
    
}

.age-con{
    width: 25%;
    padding: 20px;
    color: black;
    background: lightblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
    border: 1px solid gray;
}
.age-result{
    width: 90%;
    height: 40px;
    padding: 4px;
    font-family: sans-serif;
    font-size: 1.1rem;
    color: blueviolet;
    margin: 2% 0;
}
