.drag{
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    align-items:center;
    justify-content: center;
    background: linear-gradient(140deg,orange,lightblue);
}
.drag-img{
    width: 80px;
    height: 80px;
}